In [6]:
import pandas as pd
import numpy as np
df=pd.read_csv('diabetes.csv',na_values=na_vals)
df.replace(0,np.nan,inplace=True)

In [7]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,1.0
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,NaN
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21,NaN
4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33,1.0
...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63,NaN
764,2.0,122.0,70.0,27.0,NaN,36.8,0.340,27,NaN
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30,NaN
766,1.0,126.0,60.0,NaN,NaN,30.1,0.349,47,1.0
767,1.0,93.0,70.0,31.0,NaN,30.4,0.315,23,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               657 non-null    float64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   268 non-null    float64
dtypes: float64(8), int64(1)
memory usage: 54.1 KB

In [9]:
df.isnull().sum().sum()

1263

In [13]:
df.dropna(axis='columns', how='any')

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 2 columns]

In [14]:
m1=df['Pregnancies'].mean()
m2=df['Glucose'].mean()
m3=df['BloodPressure'].mean()
m4=df['SkinThickness'].mean()
m5=df['Insulin'].mean()
m6=df['BMI'].mean()
m7=df['Outcome'].mean()

In [15]:
df['Pregnancies'].fillna(m1,inplace=True)
df['Glucose'].fillna(m2,inplace=True)
df['BloodPressure'].fillna(m3,inplace=True)
df['SkinThickness'].fillna(m4,inplace=True)
df['Insulin'].fillna(m5,inplace=True)
df['BMI'].fillna(m6,inplace=True)
df['Outcome'].fillna(m7,inplace=True)

In [16]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.000000,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1.0
1,1.000000,85.0,66.0,29.00000,155.548223,26.6,0.351,31,1.0
2,8.000000,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1.0
3,1.000000,89.0,66.0,23.00000,94.000000,28.1,0.167,21,1.0
4,4.494673,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1.0
...,...,...,...,...,...,...,...,...,...
763,10.000000,101.0,76.0,48.00000,180.000000,32.9,0.171,63,1.0
764,2.000000,122.0,70.0,27.00000,155.548223,36.8,0.340,27,1.0
765,5.000000,121.0,72.0,23.00000,112.000000,26.2,0.245,30,1.0
766,1.000000,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1.0
767,1.000000,93.0,70.0,31.00000,155.548223,30.4,0.315,23,1.0